extends index

block content
  // nav
  ul.nav.nav-tabs
    li.nav-item
      a.nav-link(href='/') Home
    li.nav-item
      a.nav-link(href='#') Artists
    li.nav-item
      a.nav-link(href='#') Contact
    li.nav-item
      a.nav-link.active(href='#') Login
    li.nav-item
      a.nav-link(href='#') Register 

#login-form-wrap
  h2 Login
  form#login-form(action ="/" method="POST")
    p
      input#username(type='text' name='username' placeholder='Username' required='')
      i.validation
        span
        span
    p
      input#email(type='email' name='email' placeholder='Email Address' required='')
      i.validation
        span
        span
    p
      input#login(type='submit' value='Login')
  #create-account-wrap
    p
      | Not a member? 
      a(href='#') Create Account
    p
 
