extends index

block content
  // nav
  ul.nav.nav-tabs
    li.nav-item
      a.nav-link(href='/') Home
    li.nav-item
      a.nav-link(href='#') Artists
    li.nav-item
      a.nav-link(href='#') Contact
    li.nav-item
      a.nav-link.active(href='#') Register
    li.nav-item
      a.nav-link(href='#') Login
  // nav end
  //define data which can sent to database
  -data = data || {}
  if errors
      ul
      for error in errors
          li= error.msg
          
  h1 Sign Up
  p Please fill in this form to create an account.
  hr
  form(action="/xxx" method="POST")
    label(for='email')
      b Email
    input(type='text' placeholder='Enter Email' name='email' value = data.email required='')
    label(for='psw')
      b Password
    input(type='password' placeholder='Enter Password' name='psw' value = data.psw required='')
    .clearfix
      button.cancelbtn(type='button' onclick="document.getElementById('id01').style.display='none'") Cancel
      button.signupbtn(type='submit') Sign Up

  footer.footer-basic
    h1 TrendyArt
    h2(style='text-align: center')
      | TrendyArt is an art collection website
      br
      |  where you can scan through latest trendy art
    ul.list-inline
      li.list-inline-item
        a(href='#') Home
      li.list-inline-item
        a(href='#') Artists
      li.list-inline-item
        a(href='#') Contact
    p.copyright Trendy Art &copy; 2022